{
  "overrides": [
    {
      "files": [".prettierrc", ".babelrc", ".eslintrc"],
      "options": {
        "parser": "json",
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    }
  ],
  "singleQuote": true
}
