#noty_layout__dialogCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  width:460px;
  transform: translateY(-50%) translateX(-50%);
}

.mainWrapper {
}

.loadContainer { height: 35px;
  width: 35px;
  float: left; }

.wrapperContainer { height: 235px;
  width: 460px;background: #36c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingTitle {
  font-size: 35px;
  font-style: oblique;
  color: #DDD;
  padding-left: 16px;
  text-shadow: 0 0 4px #9CF;
  animation: loadingText .4s ease-in-out infinite alternate;
}

.loader2 {
  border-top: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
  border-radius: 50%;
  height: 14px;
  width: 15px;
  margin: 10px;
  position: absolute;
  animation: loading 1.2s infinite linear; }

.loader3 {
  border-left: 3px solid #ccc;
  border-right: 3px solid #ccc;
  border-radius: 50%;
  height: 24px;
  width: 25px;
  margin: 8px 2px;
  position: absolute;
  animation: loading 1s infinite linear; }

.loader4 {
  border-top: 3px solid #bbb;
  border-bottom: 3px solid #bbb;
  border-radius: 50%;
  height: 34px;
  width: 35px;
  position: absolute;
  animation: loading .8s infinite linear; }

@keyframes loading {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); } }

@keyframes loadingText {
  to {text-shadow:
    0 0 2px #9CF,
    0 0 3px #9CF,
    0 0 4px #69C,
    0 0 5px #69C; } }
